article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
  }
  
  