body{
    background-color: black;
    color: aliceblue;
    padding: 5px;
    font-size: 15px;
}
.shapes-control{
    display: grid;
    padding: 5px;
    width: 50%;
}
.submit-control{
    font-size: 20px;
}
.nav-control{
    background-color: aqua;
}
.input-control{
    display: flex;
}
.results-control{
    font-variant-numeric: slashed-zero;
}