<%- include('includes/head.ejs') %>
</head>
<body>
    <main>
        <form class="shape-form" action="/submit" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
                
                <img class="shapes-control" src="https://cdn.mathblog.com/wp-content/uploads/2017/03/3-13.gif"/>
                
                <label for="shape">Select the shape you want to calculate</label>
                <select name="shape" id="shape"onchange="showSelectedShape(this.value)">
                    <option value="">--Choose an option--</option>
                    <option value="Square">Square</option>
                    <option value="Triangle">Triangle</option>
                    <option value="Rectangle">Rectangle</option>
                    <option value="Circle">Circle</option>
                    <option value="Parallelogram">Parallelogram</option>
                    <option value="Trapezoid">Trapezoid</option>
                </select>    
            </div>
            <button class="submit-control"type="submit">Calculate area</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>