<%- include('includes/head.ejs') %>
</head>
<body class="results-control">
    <h1>Here are your results:</h1>
    <h2>Work title: <%=m_title%></h2>
    <h2>Shape selected: <%= m_shape %></h2>
    <h2>The area is: <%= m_area %></h2>
</body>