<main>
    <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
            <title>{{ m_pageTitle }}</title>
            <input type="text" name="title" id="title">
        </div>

        <button type="submit">Add Product</button>
    </form>
</main>